bin/
.git/
.github/
.gitignore
.DS_Store
**/.DS_Store
Dockerfile
build.sh
*.md
docu/
**/node_modules/
frontend/adventure/package.json
frontend/adventure/package-lock.json
frontend/adventure/eslint.config.js
frontend/adventure/scripts/
