bin/
.git/
.gitignore
Dockerfile
build.sh
*.md
docu/
frontend/adventure/node_modules/
frontend/adventure/package.json
frontend/adventure/package-lock.json
frontend/adventure/eslint.config.js
frontend/adventure/scripts/
